.container{
			display: grid;
			grid-template-areas: 
			"header header header header header"
			"mainBar mainBar mainBar mainBar mainBar"
			"menu menu content content content"	
			"menu menu content content content"
			"footer footer footer footer footer";	
			grid-template-columns: 100px auto;	
		}
		.header{
			background-color: green;
			grid-area: header;
		}
		.mainBar{
			background-color: blue;
			grid-area: menuBar;
		}
		.menu{
			background-color: yellow;
			grid-area: menu;
		}
		.content{
			background-color: pink;
			grid-area: content;
		}
		.footer{
			background-color: red;
			grid-area: footer;
		}
